div{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.user-form {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.user-field, span {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

span{
  color: red;
}

.user-form-button {
  position: relative;
}

input{
  width: 300px;
  margin: 0 auto;
}

button{
  width: 300px;
}

.input-field{

  position: relative;
  width: 350px;
  margin: 0 auto;
}

.input-field span{
  position: absolute;
  left: 36%;
  bottom: 5%;
}
