<div class="p-4">
<h2 class="head-title">Game</h2>
<div mat-dialog-content class="border">
  <form [formGroup]="userForm">
    <div class="mb-3">
			<label asp-for="userName">Change UserName ?</label><br>
			<input class="form-control" matInput formControlName="userName"  placeholder="Enter UserName">
		</div>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="createNewGame()">Start</button>
</div>
</div>
